
@{
    ViewBag.Title = "All_Images";
}

<h2>Gallery</h2>
<table>
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <img src="@item.URLcore" />
                <img src="@item.URLcrop" />
            </td>
        </tr>
    }

</table>

